{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">

    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header ">
            <form method="POST">
                {% csrf_token %}
            Date : <input type="date" id = "forecastDate" name="forecastDate">
            
            <input type="submit" value = "Submit" class="btn btn-success">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category"></h5>
              <h4 class="card-title">Intraday Demand Forecast Performance {{date_intra}}</h4>
            </div>
            <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                    <label class="btn btn-sm btn-primary btn-simple active" id="0">
                      <input type="radio" name="options" checked>
                      <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">MAPE : {{mape}}</span>
                      <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">RMSE : {{rmse}}</span>
                      <span class="d-block d-sm-none">
                        <i class="tim-icons icon-single-02"></i>
                      </span>
                    </label>
                    <label class="btn btn-sm btn-primary btn-simple" id="1">
                      <input type="radio" class="d-none d-sm-none" name="options">
                      {% for key, value in error_percent.items %} 
                      <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">{{key}} : {{value}}</span>
                      {% endfor %}
                      <span class="d-block d-sm-none">
                        <i class="tim-icons icon-gift-2"></i>
                      </span>
                    </label>
                    <label class="btn btn-sm btn-primary btn-simple" id="2">
                      <input type="radio" class="d-none" name="options">
                      <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Max Error : {{max_err}}</span>
                      <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Min Error : {{min_err}}</span>
                      <span class="d-block d-sm-none">
                        <i class="tim-icons icon-tap-02"></i>
                      </span>
                    </label>
                  </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div >
            <canvas id="chartBig1" width="100" height="30"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
        <button type="button" onclick="tableToCSV()">
          Download CSV
      </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="" align="center">
              <thead class=" text-primary">
                  <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Time_Block</th>
                      <th scope="col">Actual (in MW)</th>
                      <th scope="col">UPSLDC Forecast (in MW)</th>
                      <th scope="col">Error (in %)</th>
                      <th scope="col">Forecast (in MW)</th>
                      <th scope="col">Error (in %)</th>
                  </tr>
              </thead>
              <tbody>
                {% for i in data %}
                <tr>
                  <th scope="row">{{i.date}}</th>
                  <td align="center">{{i.time_block}}</td>
                  <td align="center">{{i.actual}}</td>
                  <td align="center">{{i.upforecast}}</td>
                  <td align="center">{{i.error_up}}</td>
                  <td align="center">{{i.forecast}}</td>
                  <td align="center">{{i.error}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

        <!-- Chart JS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
          
<!-- Chart JS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    const ctx_comp = document.getElementById('chartBig1').getContext('2d');
    const myChart_comp = new Chart(ctx_comp, {
      type: 'line',
      data: {
        labels: [{% for item in time_block_intra %}"{{ item }}",{% endfor %}],
    datasets: [{
      label: "Forecast (in MW)",
      data: [{% for item in values_completion %}{{ item }}, {% endfor %}],
          backgroundColor: 'rgba(75, 192, 192, 1)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 2,
          pointRadius: 0.1,
          },
          {
      label: "Actual (in MW)",
      data: [{% for item in values_completion1 %}{{ item }}, {% endfor %}],
          backgroundColor: 'rgba(227, 83, 53, 1)',
          borderColor: 'rgba(227, 83, 53, 1)',
          borderWidth: 2,
          pointRadius: 0.1,
          },
          {
      label: "UP Forecast (in MW)",
      data: [{% for item in values_completion2 %}{{ item }}, {% endfor %}],
          backgroundColor: 'rgba(2, 137, 92, 1)',
          borderColor: 'rgba(2, 137, 92, 1)',
          borderWidth: 2,
          pointRadius: 0.1,
          },
        ]
      },
    options: {
      plugins: {
        title: {
          display: true,
            text: "Load Forecasting : Intraday",
              font: {
            style: 'normal',
              lineHeight: 1.2,
                size: 18,
                color: 'rgba(255,255,255)',family: "Lato"
                    },
        }
      },
      scales: {
        y: {
          beginAtZero: false,
            display: true,
              title: {
            display: true,
              text: 'Load (in MW)',
                font: {
              style: 'bold',
                lineHeight: 1.2,
                size: 15,
                color: 'rgba(255,255,255)',
                family: "Lato"
            },
            padding: { top: 0, left: 0, right: 0, bottom: 5 }
          }
        },
        x: {
          beginAtZero: true,
            display: true,
              title: {
            display: true,
              text: 'Time Block',
                font: {
              style: 'normal',
                lineHeight: 1.2,
                size: 15,
                family: "Lato"
            },
            padding: { top: 5, left: 0, right: 0, bottom: 0 }
          }
        }
      }
    }
  });

</script>

<script type="text/javascript">
    function tableToCSV() {

        // Variable to store the final csv data
        var csv_data = [];

        // Get each row data
        var rows = document.getElementsByTagName('tr');
        for (var i = 0; i < rows.length; i++) {

            // Get each column data
            var cols = rows[i].querySelectorAll('td,th');

            // Stores each csv row data
            var csvrow = [];
            for (var j = 0; j < cols.length; j++) {

                // Get the text data of each cell
                // of a row and push it to csvrow
                csvrow.push(cols[j].innerHTML);
            }

            // Combine each column value with comma
            csv_data.push(csvrow.join(","));
        }

        // Combine each row data with new line character
        csv_data = csv_data.join('\n');

        // Call this function to download csv file 
        downloadCSVFile(csv_data);

    }

    function downloadCSVFile(csv_data) {

        // Create CSV file object and feed
        // our csv_data into it
        CSVFile = new Blob([csv_data], {
            type: "text/csv"
        });

        // Create to temporary link to initiate
        // download process
        var temp_link = document.createElement('a');

        // Download csv file
        temp_link.download = "Load_Forecast_Analysis.csv";
        var url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;

        // This link should not be displayed
        temp_link.style.display = "none";
        document.body.appendChild(temp_link);

        // Automatically click the link to
        // trigger download
        temp_link.click();
        document.body.removeChild(temp_link);
    }
</script>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}